/*** slide animations definition ***/
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-25em, 0, 0);
            transform: translate3d(-25em, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-35em, 0, 0);
            transform: translate3d(-35em, 0, 0);
  }
}

/*** burger Navigation grundeinstellungen***/
.b-nav {
  position: absolute;
  z-index: 11;
  max-width:100%;
}

/*** burger animation und definition von text, slide-in and out ***/
.b-nav:not(.open) {
  visibility: hidden;
}
.b-nav li {
  list-style-type: none;
}
.b-nav li:not(.open) {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: slideOutLeft;
          animation-name: slideOutLeft;
}
.b-nav.open {
  visibility: visible;
}
.b-nav.open li {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
-webkit-animation-fill-mode: both;
          animation-fill-mode: both;
-webkit-animation-name: slideInLeft;
          animation-name: slideInLeft;
}
.b-link {
  color: #ffffff;
  font-size: 2.4rem;
}

/*** Burger buns und Kreuz, rotate animation ***/
.b-menu {
  cursor: pointer;
  display: inline-block;
  height: 6em;
  position: fixed;
  top: 7em;
  right: 3em;
  width: 6em;
  z-index: 12;
}
.b-bun {
  background: #000000;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  height: 0.2em;
  width: 2.5em;
}
.b-bun--top {
  top: 0;
}
.b-bun--mid {
  top: 0.8em;
}
.b-bun--bottom {
  top: 1.6em;
}
.b-container {
  height: 6em;
  right: 3em;
  position: absolute;
  top: 3em;
}
.b-container:hover:not(.open) .bun-top,
.b-container:hover:not(.open) .bun-mid,
.b-container:hover:not(.open) .bun-bottom {
  background: white;
}
.b-container.open .b-bun--top {
  background: #ffffff;
  top: 0.9em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.b-container.open .b-bun--mid {
  opacity: 0;
}
.b-container.open .b-bun--bottom {
  background: #ffffff;
  top: 0.5em;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.b-container.open .b-brand {
  color: #ffffff;
}

/*** burgernav text positionierung und definition ***/
.sidelist a {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
}
.sidelist {
    padding: 3em 0 0 0;
}
.b-container, .b-nav {
  display: none;
}
.list li a:hover {
text-decoration: none;
color: white;
}
.list li {
  padding-left: 15vw;
  margin-bottom: 2em;
}
.list li:first-child {
  margin-bottom: 10em;
  padding: 0;
}
.sidelist a:last-child {
  margin-bottom: 7em;
}

/*** background burger, background fade***/
.list {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}
.list:not(.background) {
  opacity: 0;
  -webkit-transition-duration: 0.4s;
}
.background {
  -webkit-transition-property: background-color, opacity;
  -webkit-transition-duration: 0.4s;
  background-color: #473AE3;
  overflow: auto;
}

/*** label in burger ***/
.label3 {
  max-width: none;
  width: 15em;
  margin: 0.7em 0 0 1.5em;
}
