@font-face {
  font-family: 'CeraPRO-Regular';
  src: url('fonts/CeraPro-Regular.eot');
  src: url('fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),url('fonts/CeraPro-Regular.woff2') format('woff2'),url('fonts/CeraPro-Regular.woff') format('woff'),url('fonts/CeraPro-Regular.ttf') format('truetype');
}
:root {
  font-family: "CeraPRO-Regular";
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  scroll-behavior: smooth;
}
body {
height: 200vh;
}


nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  z-index: 10;
}
.uk-navbar-container:not(.uk-navbar-transparent){
  background: none;
}
nav ul {
list-style-type: none;

}
.sidenav {
font-size: 12px;
text-transform: uppercase;
margin-right: 50px;
}
.mainnav {
  display: flex;
  width: 50vw;
  font-size: 24px;
  justify-content: space-between;
  margin: 0 auto;
}

nav a {
  color: black;
}
nav a:hover {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
#label1 {
  max-width: none;
  width: 90px;
  margin-left: 30px;
  padding: 15px 0 10px 0;
  /* z-index: 1000; */
}
#label2 {
  max-width: none;

  position: absolute;
  /* z-index: 1000; */

  /* visibility: hidden; */
  width: 60px;
  margin: 30px 0 0 45px;

}
.labels {
  display: flex;
}
li.active {
  font-weight: bold;
}



.show {
  opacity: 1;
  transition: opacity 300ms;
}

.hide {
  opacity: 0;
  transition: opacity 300ms;
}




/**** Tablet ****/
@media (max-width: 1199px) {
  .sidenav {
  font-size: 9px;

  }
  .mainnav {

    font-size: 18px;

  }
  /* background-color: #473AE3; */
}

 /**** Smartphone ****/
 @media (max-width: 835px) {

 }
