/* Font importieren, Grundeinstellungen */
@font-face {
  font-family: 'CeraPRO-Regular';
  src: url('fonts/CeraPro-Regular.eot');
  src: url('fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),url('fonts/CeraPro-Regular.woff2') format('woff2'),url('fonts/CeraPro-Regular.woff') format('woff'),url('fonts/CeraPro-Regular.ttf') format('truetype');
}
:root {
  font-family: "CeraPRO-Regular";
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  scroll-behavior: smooth;
}

/*** Desktop Navigation ***/
nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  z-index: 10;
}

nav ul {
  list-style-type: none;
}

nav a {
  color: black;
}

.sidenav {
font-size: 15px;
text-transform: uppercase;
margin: -60px 75px 0 0;
}

.mainnav {
  display: flex;
  flex-wrap: wrap;
  width: 35vw;
  font-size: 25px;
  justify-content: space-between;
  margin: -55px 0 0 -50px;
}

/*** hover underline ***/
nav a:hover {
  text-decoration: none;
  color: #000;
}
.menu__link {
  position: relative;
}
a.menu__link:after {
  bottom: 0;
  content: "";
  display: block;
  height: 1.5px;
  left: 0%;
  position: absolute;
  background: #000;
  transition: 0.3s ease;
  width: 0;
}
a.menu__link:hover:after {
  width: 100%;
  left: 0;
}
li.active a.menu__link:after {
  width: 100%;
  left:0;
}
.b-nav a.menu__link:after{
  background: #fff;
}



/*** logos ***/
#label1 img {
  max-width: none;

  width: 184px;
  margin: 30px 0 0 45px;
}

#label2 img {
  max-width: none;
  position: absolute;
  width: 125px;
  margin: 59px 0 0 -154px;
}

.labels {
  display: flex;
}

.show {
  opacity: 1;
  transition: opacity 300ms;
}

.hide {
  opacity: 0;
  transition: opacity 300ms;
}


/****** MEDIA QUERIES ****/
/* weisser balken in nav */
@media (min-width: 1024px){
.white{
  transition: background-color 300ms linear;
  background-color: #fff;

}
.trans{
  transition: background-color 300ms linear;
  background-color: transparent;
}
}

/**** Tablet ****/
@media (max-width: 1024px){
  .b-container, .b-nav {
     display: block;
  }
  nav ul{
    visibility: hidden;
  }
  #label1 img{
    width: 150px;
  }
  #label2 img{
    width: 101px;
    margin: 54px 0 0 -125px;
  }
}

/**** Smartphone ****/
@media (max-width: 479px){
  #label1 img{
    width: 90px;
  }
  #label2 img{
    width: 61px;
    margin: 45px 0 0 -75px;

  }
  .label3{
    width: 90px;
  }
}

/**** Font Size ****/
@media (max-width: 1600px){
  .sidenav{
      font-size: 12px;
    }
  .mainnav{
    font-size: 20px;
  }
}

@media (max-width: 1300px){
  .mainnav{
    font-size: 16px;
  }
}
