/********* Desktop Navigation *********/
/*** page on load animation (verhindert aufploppen des Underline Effekts)  ***/
@-webkit-keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.8);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}
.refresh {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
        }

/*** Nav grundeinstellungen ***/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: fixed;
  left: 0;
  right: 0;
}
nav ul {
  list-style-type: none;
  padding-left: 0;
}
nav a {
  color: black;
}

/*** Haupt und Nebenliste ***/
.sidenav {
font-size: 1.5rem;
text-transform: uppercase;
padding-right: 6em;
}
.mainnav {
  display: flex;
  flex-wrap: wrap;
  width: 45vw;
  font-size: 2.5rem;
  justify-content: space-between;
}
.mainnav:after {
  content: '';
}
.mainnav li {
  padding-right: 1em;
}


/*** hover underline ***/
nav a:hover {
  text-decoration: none;
  color: #000;
}
.menu__link {
  position: relative;
}
a.menu__link:after {
  bottom: 0;
  content: "";
  display: block;
  height: 0.3rem;
  left: 0;
  position: absolute;
  background: #000;
  transition: 0.3s ease;
  width: 0;
}
a.menu__link:hover:after {
  width: 100%;
  left: 0;
}
li.active a.menu__link:after {
  width: 100%;
  left:0;
}
.b-nav a.menu__link:after {
  background: #fff;
}



/*** logos und animation ***/
.labels {
  display: flex;

}
#label1 img {
  max-width: none;
  width: 18.4em;
  margin: 0.7em 0 0 4.5em;
}

#label2 img {
  max-width: none;
  width: 12.5em;
  margin: 3.7em 0 0 -15.4em;
}


.show {
  opacity: 1;
  transition: opacity 300ms;
}

.hide {
  opacity: 0;
  transition: opacity 300ms;
}

/*** weisser balken in nav ***/
.white {
  transition: background-color 300ms linear;
  background-color: #fff;
}
.trans {
  transition: background-color 300ms linear;
  background-color: transparent;
}


/****************** MEDIA QUERIES ************/
/************ Tablet ************/
@media (max-width: 1024px) {
  nav ul, .mainnav {
    display: none;
  }
  .b-container, .b-nav {
     display: block;
  }
  #label1 img {
    width: 15em;
   margin-left: 2em;
  }
  #label2 img {
    width: 10.1em;
    margin: 3.15em 0 0 -12.5em;
  }
}

/************ Smartphone ************/
@media (max-width: 479px) {
  #label1 img {
    width: 9em;
    margin-left: 1.5em;
  }
  #label2 img {
    width: 6.1em;
    margin: 2.15em 0 0 -7.5em;
  }
  .label3 {
    width: 9em;
    margin: 0.7em 0 0 -1.5em
  }
  .b-menu {
    top: 4em;
  }
}
